
//desktop:
$D-base-fontSize: 16px; 

//laptop desktop
$LD-base-fontSize: 15px; 

//Tabelts, Ipads Portrait
$TP-base-fontSize: 14px; 

//Tabelts, Ipads Landscape
$TL-base-fontSize: 15px;

//Low Resolution Tablets, Mobiles (Landscape)
$TML-base-fontSize:16px;


//Most of the Smartphones Mobiles (Portrait)
$SM-base-fontSize: 15px;

//tablet 1024px:

//mobile 900px:
$base-900px-fontSize: 15px;
$base-backgroundColor: #faf8ef;


